.naft1{
  position: absolute;
  margin-top:926px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}

.naft2{
  position: absolute;
  margin-top:1043px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}

.naft3{
  position: absolute;
  margin-top:1160px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}

.naft4{
  position: absolute;
  margin-top:1278px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}

.naft5{
  position: absolute;
  margin-top:1394px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}