.pce1{
  position: absolute;
  margin-top:1648px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}

.pce2{
  position: absolute;
  margin-top:1765px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}

.pce3{
  position: absolute;
  margin-top:1882px;
  display: flex;
  left:0px;
  right:0px;
  height: 120px;
}