@media only screen and (max-width: 799px) {



  body {
    background: #101820;
    font-family: 'Lexend Exa', sans-serif;
    width: 100%;

  }

  nav {
    position: fixed;
    top: 0%;
    left: 47%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
    z-index: 100;
    background-color: #101820;
    width: 90%;
  }
  
  ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    li:not(:last-child) {
      margin-right: 40px;
    }
    li {
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 1px;
      transition: background 0.2s;
      font-size:6px;
      a {
        color: rgb(156, 156, 29);
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
      }
      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: block;
        margin: 12px -12px;
        padding: 0;
        background: #90AFC5;
        border: 2px solid #90AFC5;
        border-right: 2px solid #90AFC5;
        border-bottom: 2px solid #90AFC5;
        border-radius: 5px;
        transition: opacity 0.2s, visibility 0.2s;
        li {
          margin: -2px 0 0 -2px;
          width: calc(100% - 20px);
          line-height: 1.7;
          
          a {
            color: #2375D8;
          }
        }
      }
      &:hover {
        background: #90afc549;
        border: 2px solid #90afc549;
        border-right: 2px solid#90afc549;
        border-bottom: 2px solid #90afc549;
        a {
          color: #F9F8FD;
        }
        ul {
          visibility: visible;
          opacity: 1;
          box-shadow: 0px 3px 5px 2px white;
          li {
            a {
              color: #F9F8FD;
            }
          }
        }
      }
    }
  }
  
  @keyframes slide-in {
    0% {
      top: -50px;
    }
    40% {
      top: 20px;
    }
    70% {
      top: 10px;
    }
    100% {
      top: 15px;
    }
  }
  
  
  * {box-sizing:border-box}

  
 
  
  .main-logo{
    position: absolute;
    z-index: 17;
    width: 40%;
    top:3%;
    left:30%;
    
  }



  .i-penplast{
    width: 100%;
  }
  
  
  .i3{
    
    position: absolute;
    top:200px;
    left:0px;
    right:0px;
    width: 121%;
  }
    
  

  
  .h-i{
    width: 100%;
    height: 50px;

  }
 
  
  .header{
    position: absolute;
    top:40%;
    color:rgb(156, 156, 29);
    font-size:18px;
    left:10%;
    font-weight: bold;
  }
  
 


  .main-d{

    position: absolute;
    top:70%;
    width: 80%;
    left:10%;
    
  }
  
  
  .i10{
    width: 100%;
  }
  
  
  .p101{
    position: absolute;
    left:5%;
    top:100%;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:26px;
    font-weight: bold;
    width: 50%;
  }
  
  .p102{
    position: absolute;
    left:5%;
    top:130%;
    color:rgb(156, 156, 29);
    width: 50%;
    font-weight: bold;
  }
  
  .p103{
    position: absolute;
    left:5%;
    top:240%;
    color:rgb(156, 156, 29);
    width: 50%;
    font-size:18px;
    
  }
  
  
  .p104{
    position: absolute;
    left:5%;
    top:490%;
    color:#7291af;
    width: 100%;
    font-size:19px;
    font-weight: bold;
    
  }
  
  .p105{
    position: absolute;
    left:5%;
    top:520%;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:19px;
    font-weight: bold;
    width: 50%;
  }
  
  













  
  
  
  .info-bar{
    position: absolute;
    top:390%;
    background-color:#3b4b57;
    left:0px;
    right:0px;
    height:750px;
    width: 121%;
    
  }
  
  .p5{
    color:rgb(207, 207, 27);
    font-size:14px;
    margin-left:10%;
    margin-top:1%;
    font-weight: bold;
  }
  
  .p6{
    color:rgb(156, 156, 29);
    margin-top: 5%;
    font-size:12px;
    margin-left:10%;
  }
  
  .p7{
    color:rgb(156, 156, 29);
    margin-top: 1%;
    font-size:12px;
    margin-left:10%;
  }
  
  .p8{
    color:rgb(156, 156, 29);
    margin-top: 1%;
    font-size:12px;
    margin-left:10%;
  }
  
  .p9{
    color:rgb(156, 156, 29);
    margin-top: 3%;
    font-size:12px;
    margin-left:10%;
    width: 21%;
  }
  
  .p10{
    color:rgb(156, 156, 29);
    margin-top: 3%;
    font-size:12px;
    margin-left:10%;
    width: 21%;
  }
  
  
  h1 {
    color: green;
  }
  
  h3 {
    color: #333;
  }
  
  .social-btns {
    display: flex;
    gap: 50px;
    position: absolute;
    top:3%;
    left:70%;
  }
  
  .social-btns a {
    color: rgb(233, 233, 17);
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
   
  }
  
  .social-btns a:hover {
    transform: scale(1.5);
  }
  
  .social-btns a:hover i.fa-facebook {
    color: #3b5998;
    
  }
  
  
  .social-btns a:hover i.fa-instagram {
    color: #e4405f;
  }
  
  .i1{
  position: absolute;
  top:6%;
  left:60%;
  }
  
  .info-logo{
  width: 85%;

  }
  
  .p11{
  position: absolute;
  top:85%;
  left:40%;
  color:rgb(156, 156, 29);
  font-size: 12px;
  font-weight: bold;
  }
  
  .i2{
  position: absolute;
  top:80%;
  left:65%;
  }
  
  .info-p-logo{
  height: 50px;
  border-radius: 50px;
  }
}










































@media only screen and (min-width: 800px) and (max-width: 1023px){
  body {
    background: #101820;
    font-family: 'Lexend Exa', sans-serif;
    width: 100%;
  }
  
  nav {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
    z-index: 100;
    background-color: #101820;
    width: 70%;
  }
  
  ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    li:not(:last-child) {
      margin-right: 40px;
      font-size:14px;
    }
    li {
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 10px;
      transition: background 0.2s;
      a {
        color: rgb(156, 156, 29);
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
        font-size:10px;
      }
      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: block;
        margin: 12px -12px;
        padding: 0;
        background: #90AFC5;
        border: 2px solid #90AFC5;
        border-right: 2px solid #90AFC5;
        border-bottom: 2px solid #90AFC5;
        border-radius: 5px;
        transition: opacity 0.2s, visibility 0.2s;
        li {
          margin: -2px 0 0 -2px;
          width: calc(100% - 20px);
          line-height: 1.7;
          
          a {
            color: #2375D8;
          }
        }
      }
      &:hover {
        background: #90afc549;
        border: 2px solid #90afc549;
        border-right: 2px solid#90afc549;
        border-bottom: 2px solid #90afc549;
        a {
          color: #F9F8FD;
        }
        ul {
          visibility: visible;
          opacity: 1;
          box-shadow: 0px 3px 5px 2px white;
          li {
            a {
              color: #F9F8FD;
            }
          }
        }
      }
    }
  }
  
  @keyframes slide-in {
    0% {
      top: -50px;
    }
    40% {
      top: 20px;
    }
    70% {
      top: 10px;
    }
    100% {
      top: 15px;
    }
  }
  
  
  * {box-sizing:border-box}


  .main-logo{
    position: fixed;
    z-index: 17;
    height: 200px;
    top:-50px;
    left:-20px;
    border-radius: 60px;
  }
  
  
  .i-penplast{
    width: 100%;
  }
  
  
  .i3{
    
    position: absolute;
    top:150px;
    left:0px;
    right:0px;
    
    
    
  }
  
  
  .h-i{
    width: 100%;
    height: 200px;
  }
  
  .header{
    position: absolute;
    top:430px;
    color:rgb(156, 156, 29);
    font-size:38px;
    left:200px;
    font-weight: bold;
  }
  
  
  
  .main-d{

    position: absolute;
    top:120%;
    right:10%;
    
  }
  
  
  .i10{
    width: 40%;
  }
  
  
  .p101{
    position: absolute;
    left:60%;
    top:-10%;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:40px;
    font-weight: bold;
    width: 50%;
  }
  
  .p102{
    position: absolute;
    left:60%;
    top:100px;
    color:rgb(156, 156, 29);
    width: 50%;
    font-weight: bold;
  }
  
  .p103{
    position: absolute;
    left:60%;
    top:325px;
    color:rgb(156, 156, 29);
    width: 50%;
    font-size:18px;
    
  }
  
  
  .p104{
    position: absolute;
    left:60%;
    top:520px;
    color:#7291af;
    width: 100%;
    font-size:19px;
    font-weight: bold;
    
  }
  
  .p105{
    position: absolute;
    left:60%;
    top:560px;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:19px;
    font-weight: bold;
    width: 50%;
  }
  
  
  

  
  
  
  .info-bar{
    position: absolute;
    top:547%;
    background-color:#3b4b57;
    left:0px;
    right:0px;
    height:700px;
    width: 100%;
    
  }
  
  .p5{
    color:rgb(207, 207, 27);
    font-size:200%;
    margin-left:10%;
    margin-top:1%;
    font-weight: bold;
  }
  
  .p6{
    color:rgb(156, 156, 29);
    margin-top: 5%;
    font-size:24px;
    margin-left:10%;
  }
  
  .p7{
    color:rgb(156, 156, 29);
    margin-top: 1%;
    font-size:24px;
    margin-left:10%;
  }
  
  .p8{
    color:rgb(156, 156, 29);
    margin-top: 1%;
    font-size:24px;
    margin-left:10%;
  }
  
  .p9{
    color:rgb(156, 156, 29);
    margin-top: 3%;
    font-size:24px;
    margin-left:10%;
    width: 21%;
  }
  
  .p10{
    color:rgb(156, 156, 29);
    margin-top: 3%;
    font-size:24px;
    margin-left:10%;
    width: 21%;
  }
  
  
  h1 {
    color: green;
  }
  
  h3 {
    color: #333;
  }
  
  .social-btns {
    display: flex;
    gap: 50px;
    position: absolute;
    top:3%;
    left:85%;
  }
  
  .social-btns a {
    color: rgb(233, 233, 17);
    font-size: 50px;
    text-decoration: none;
    transition: transform 0.3s ease;
   
  }
  
  .social-btns a:hover {
    transform: scale(1.5);
  }
  
  .social-btns a:hover i.fa-facebook {
    color: #3b5998;
    
  }
  
  
  .social-btns a:hover i.fa-instagram {
    color: #e4405f;
  }
  
  .i1{
  position: absolute;
  top:6%;
  left:80%;
  }
  
  .info-logo{
  width: 120%;
  }
  
  .p11{
  position: absolute;
  top:85%;
  left:75%;
  color:rgb(156, 156, 29);
  font-size: 16px;
  font-weight: bold;
  }
  
  .i2{
  position: absolute;
  top:80%;
  left:85%;
  }
  
  .info-p-logo{
  height: 80px;
  border-radius: 50px;
  }}





































@media only screen and (min-width: 1024px) and (max-width: 1899px) {
  body {
  background: #101820;
  font-family: 'Lexend Exa', sans-serif;
  width: 100%;
}

nav {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 2px solid #EBECF1;
  border-radius: 30px;
  animation: slide-in 1s ease-out;
  z-index: 100;
  background-color: #101820;
}

ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
  li:not(:last-child) {
    margin-right: 40px;
  }
  li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
    a {
      color: rgb(156, 156, 29);
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s;
    }
    ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      display: block;
      margin: 12px -12px;
      padding: 0;
      background: #90AFC5;
      border: 2px solid #90AFC5;
      border-right: 2px solid #90AFC5;
      border-bottom: 2px solid #90AFC5;
      border-radius: 5px;
      transition: opacity 0.2s, visibility 0.2s;
      li {
        margin: -2px 0 0 -2px;
        width: calc(100% - 20px);
        line-height: 1.7;
        
        a {
          color: #2375D8;
        }
      }
    }
    &:hover {
      background: #90afc549;
      border: 2px solid #90afc549;
      border-right: 2px solid#90afc549;
      border-bottom: 2px solid #90afc549;
      a {
        color: #F9F8FD;
      }
      ul {
        visibility: visible;
        opacity: 1;
        box-shadow: 0px 3px 5px 2px white;
        li {
          a {
            color: #F9F8FD;
          }
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}


* {box-sizing:border-box}




.main-logo{
  position: fixed;
  z-index: 17;
  height: 200px;
  top:-50px;
  left:-20px;
  border-radius: 60px;
}


.i-penplast{
  width: 100%;
}


.i3{
  
  position: absolute;
  top:150px;
  left:0px;
  right:0px;
  
  
  
}


.h-i{
  width: 100%;
  height: 200px;
}

.header{
  position: absolute;
  top:430px;
  color:rgb(156, 156, 29);
  font-size:38px;
  left:200px;
  font-weight: bold;
}



.main-d{

  position: absolute;
  top:100%;
  right:60%;
  
}


.i10{
  width: 100%;
}


.p101{
  position: absolute;
  left:120%;
  top:-10%;
  color:rgb(156, 156, 29);
  width: 100%;
  font-size:40px;
  font-weight: bold;
}

.p102{
  position: absolute;
  left:120%;
  top:70px;
  color:rgb(156, 156, 29);
  width: 50%;
  font-size:30px;
  font-weight: bold;
}

.p103{
  position: absolute;
  left:120%;
  top:950px;
  color:rgb(156, 156, 29);
  width: 50%;
  font-size:18px;
  
}


.p104{
  position: absolute;
  left:120%;
  top:1340px;
  color:#7291af;
  width: 100%;
  font-size:19px;
  font-weight: bold;
  
}

.p105{
  position: absolute;
  left:120%;
  top:1380px;
  color:rgb(156, 156, 29);
  width: 100%;
  font-size:19px;
  font-weight: bold;
  width: 50%;
}












.info-bar{
  position: absolute;
  top:385%;
  background-color:#3b4b57;
  left:0px;
  right:0px;
  height:580px;
  width: 100%;
  
}

.p5{
  color:rgb(207, 207, 27);
  font-size:200%;
  margin-left:10%;
  margin-top:1%;
  font-weight: bold;
}

.p6{
  color:rgb(156, 156, 29);
  margin-top: 5%;
  font-size:24px;
  margin-left:10%;
}

.p7{
  color:rgb(156, 156, 29);
  margin-top: 1%;
  font-size:24px;
  margin-left:10%;
}

.p8{
  color:rgb(156, 156, 29);
  margin-top: 1%;
  font-size:24px;
  margin-left:10%;
}

.p9{
  color:rgb(156, 156, 29);
  margin-top: 3%;
  font-size:24px;
  margin-left:10%;
  width: 21%;
}

.p10{
  color:rgb(156, 156, 29);
  margin-top: 3%;
  font-size:24px;
  margin-left:10%;
  width: 21%;
}


h1 {
  color: green;
}

h3 {
  color: #333;
}

.social-btns {
  display: flex;
  gap: 50px;
  position: absolute;
  top:3%;
  left:85%;
}

.social-btns a {
  color: rgb(233, 233, 17);
  font-size: 50px;
  text-decoration: none;
  transition: transform 0.3s ease;
 
}

.social-btns a:hover {
  transform: scale(1.5);
}

.social-btns a:hover i.fa-facebook {
  color: #3b5998;
  
}


.social-btns a:hover i.fa-instagram {
  color: #e4405f;
}

.i1{
position: absolute;
top:6%;
left:80%;
}

.info-logo{
width: 120%;
}

.p11{
position: absolute;
top:85%;
left:75%;
color:rgb(156, 156, 29);
font-size: 16px;
font-weight: bold;
}

.i2{
position: absolute;
top:80%;
left:85%;
}

.info-p-logo{
height: 80px;
border-radius: 50px;
}}










































@media only screen and (min-width: 1900px) {
body {
    background: #101820;
    font-family: 'Lexend Exa', sans-serif;
  }
  
  nav {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
    z-index: 100;
    background-color: #101820;
  }
  
  ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    li:not(:last-child) {
      margin-right: 40px;
    }
    li {
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 10px;
      transition: background 0.2s;
      a {
        color: rgb(156, 156, 29);
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
      }
      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: block;
        margin: 12px -12px;
        padding: 0;
        background: #90AFC5;
        border: 2px solid #90AFC5;
        border-right: 2px solid #90AFC5;
        border-bottom: 2px solid #90AFC5;
        border-radius: 5px;
        transition: opacity 0.2s, visibility 0.2s;
        li {
          margin: -2px 0 0 -2px;
          width: calc(100% - 20px);
          line-height: 1.7;
          
          a {
            color: #2375D8;
          }
        }
      }
      &:hover {
        background: #90afc549;
        border: 2px solid #90afc549;
        border-right: 2px solid#90afc549;
        border-bottom: 2px solid #90afc549;
        a {
          color: #F9F8FD;
        }
        ul {
          visibility: visible;
          opacity: 1;
          box-shadow: 0px 3px 5px 2px white;
          li {
            a {
              color: #F9F8FD;
            }
          }
        }
      }
    }
  }
  
  @keyframes slide-in {
    0% {
      top: -50px;
    }
    40% {
      top: 20px;
    }
    70% {
      top: 10px;
    }
    100% {
      top: 15px;
    }
  }


  * {box-sizing:border-box}

  .main-logo{
    position: fixed;
    z-index: 17;
    height: 200px;
    top:-50px;
    left:-20px;
    border-radius: 60px;
  }

  .i3{
    position: absolute;
    top:150px;
    left:0px;
    right:0px;
  }

  .header{
    position: absolute;
    top:430px;
    color:rgb(156, 156, 29);
    font-size:38px;
    left:200px;
    font-weight: bold;
  }

  .penguin-penplast{
    position: absolute;
    top:550px;
    left:200px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-penplast:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }

  .a1{
    color:rgb(0, 0, 0);
    font-size:28px;
    text-decoration: none;
    font-weight: bold;
    margin-left:10px;
  }

  .a1:hover{
    color:rgba(0, 0, 0, 0.671);
    transition: 0.3s;
  }

  .p1{
    color:rgb(0, 0, 0);
    margin-left:10px;
  }

  .penguin-penplus{
    position: absolute;
    top:550px;
    left:600px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-penplus:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }

  .penguin-pensilan-interior{
    position: absolute;
    top:550px;
    left:1000px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-pensilan-interior:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }

  .penguin-penplus-extra{
    position: absolute;
    top:550px;
    left:1400px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-penplus-extra:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }


  .penguin-sofcoat{
    position: absolute;
    top:1200px;
    left:200px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-sofcoat:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }

  .penguin-softplast-tavan{
    position: absolute;
    top:1200px;
    left:600px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-softplast-tavan:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }

  .penguin-sofcoat-primer{
    position: absolute;
    top:1200px;
    left:1000px;;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-sofcoat-primer:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }

  .penguin-3d-white{
    position: absolute;
    top:1200px;
    left:1400px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
  }

  .penguin-3d-white:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.08);
  }



.main-d{

    position: absolute;
    top:680px;
    right:1150px;
    
}


.i10{
    height: 600px;
}


.p101{
    position: absolute;
    left:740px;
    top:-50px;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:40px;
    font-weight: bold;
}

.p102{
    position: absolute;
    left:740px;
    top:70px;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:30px;
    font-weight: bold;
}

.p103{
    position: absolute;
    left:740px;
    top:330px;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:18px;
    
}


.p104{
    position: absolute;
    left:740px;
    top:520px;
    color:#7291af;
    width: 100%;
    font-size:19px;
    font-weight: bold;
}

.p105{
    position: absolute;
    left:740px;
    top:550px;
    color:rgb(156, 156, 29);
    width: 100%;
    font-size:19px;
    font-weight: bold;
}




  .info-bar{
    position: absolute;
    top:1500px;
    background-color:#3b4b57;
    left:0px;
    right:0px;
    height: 500px;
  }

  .p5{
    color:rgb(207, 207, 27);
    font-size:30px;
    margin-left:200px;
    margin-top:10px;
    font-weight: bold;
  }

  .p6{
    color:rgb(156, 156, 29);
    margin-top: 35px;
    font-size:24px;
    margin-left:200px;
  }

  .p7{
    color:rgb(156, 156, 29);
    margin-top: 15px;
    font-size:24px;
    margin-left:200px;
  }

  .p8{
    color:rgb(156, 156, 29);
    margin-top: 15px;
    font-size:24px;
    margin-left:200px;
  }

  .p9{
    color:rgb(156, 156, 29);
    margin-top: 45px;
    font-size:24px;
    margin-left:200px;
    width: 400px;
  }

  .p10{
    color:rgb(156, 156, 29);
    margin-top: 45px;
    font-size:24px;
    margin-left:200px;
    width: 400px;
  }


  h1 {
    color: green;
}

h3 {
    color: #333;
}

.social-btns {
    display: flex;
    gap: 50px;
    position: absolute;
    top:30px;
    left:1650px;
}

.social-btns a {
    color: rgb(233, 233, 17);
    font-size: 50px;
    text-decoration: none;
    transition: transform 0.3s ease;
   
}

.social-btns a:hover {
    transform: scale(1.5);
}

.social-btns a:hover i.fa-facebook {
    color: #3b5998;
    
}


.social-btns a:hover i.fa-instagram {
    color: #e4405f;
}

.i1{
  position: absolute;
  top:80px;
  left:1600px;
}



.info-logo{
  height: 300px;
}

.p11{
  position: absolute;
  top:450px;
  left:1620px;
  color:rgb(156, 156, 29);
  font-size: 16px;
  font-weight: bold;
}

.i2{
  position: absolute;
  top:400px;
  left:1720px;
}

.info-p-logo{
  height: 80px;
  border-radius: 50px;
}

  
}

